@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-width: thin;
  scrollbar-color: #2c0566 #df2935;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #2c0566;
}

body::-webkit-scrollbar-thumb {
  background-color: #df2935;
  border-radius: 20px;
  border: 3px solid #2c0566;
}

html {
  scroll-behavior: smooth;
}
